<% var name = user.name %>
<% var wins = user.wins %>
<% var losses = user.lose %>
<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= name %></p>
<p class="lead mb-3">You have <%= wins %> wins and <%= losses %> losses</p>
<a id="gameLink" href= "/game/?valid=<%= name %>" class="btn btn-secondary">Enter game</a>
<a href="/game/logout" class="btn btn-secondary">Logout</a>